
            h2{
                color:red;
                background:yellow;
            }
             
            #first{
                background:black;
                color:yellow;
            }
            body
            { background:#3498db;
                 }
.box{
    background-image:url(IMG-1.JPG);
    margin:100px 50px 100px 75px;
    padding:100px 50px 100px 75px;
}


#image{
    border:10px solid blue; 
        border-radius: 200px;
}