
            h1{
                color:red;
                background:yellow;
            }
             
            #first{
                background:black;
                color:yellow;
            }
            body
            { background:silver;
            }
